* {
  box-sizing: border-box;
  font-family: Raleway;
}

body {
  font-family: "Work Sans", sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #ccc;
}

span {
  color: #59ffac;
  letter-spacing: 3px;
}

img {
  height: 50%;
  width: 50%;
  color: white;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  background-color: #333;
  border-radius: 25px;
  margin: 2rem;
}

.skill {
  width: 220px;
  height: 220px;
  text-align: center;
  margin: 1rem;
  border-radius: 5px;
}

.skill:hover {
  background-color: #fff;
}

ion-icon {
  font-size: 13.5rem;
}

.iconify {
  font-size: 12.8rem;
}

.redux {
  color: #6a0dad;
}

.javascript {
  color: #f0db4f;
}

.react {
  color: #61dbfb;
}

.html {
  color: #e34c26;
}

.css {
  color: #264de4;
}

.sass {
  color: #cc6699;
}

.node {
  color: #68a063;
}

.github {
  color: #ffd33d;
}

.mongodb {
  color: #3fa037;
}
/* CARDS */

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 400px;
  margin-top: 20px;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 2em;
  color: #000;
}

.frontend {
  background: rgb(255, 176, 51);
  background: linear-gradient(
    90deg,
    rgba(255, 176, 51, 1) 43%,
    rgba(255, 20, 62, 1) 87%
  );
}

.new-background {
  background: #59ffac;
}

.backend {
  background: -webkit-linear-gradient(to right, #00223e, #ffa17f);
  background: linear-gradient(to right, #00223e, #ffa17f);
}

.devops {
  background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  font-size: 1.6em;
}

@media (max-width: 1370px) {
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  background-image: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase h1 {
  font-family: "Crimson Text", serif;
  font-weight: 100;
  font-size: 70px;
  line-height: 1.2;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.content {
  z-index: 10;
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-top: 25px;
  /* opacity: 0.7; */
  width: 200px;
  font-size: 1.3em;
  letter-spacing: 1px;
}

.work-btn {
  margin-left: 10px;
}

.btn:hover {
  cursor: pointer;
  transform: scale(0.98);
}

a {
  text-decoration: none;
}

@media (max-width: 1290px) {
  .skills-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1040px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 810px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }

  .skill {
    width: 450px;
    height: 350px;
  }

  ion-icon {
    font-size: 19rem;
  }
}
