* {
  box-sizing: border-box;
  font-family: Raleway;
}

.copyright {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 100;
  letter-spacing: 0.5px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  height: 100vh;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
}

.social-links {
  margin-top: 5%;
}

.small-icon {
  font-size: 4em;
  padding: 0.2em;
  color: #fff;
}

.github-sm:hover {
  color: #ffd33d;
}

.linkedin-sm:hover {
  color: #0e76a8;
}

.twitter-sm:hover {
  color: #1da1f2;
}

.medium-sm:hover {
  color: #66cdaa;
}

.dark {
  color: #000;
}

.dark:hover {
  color: #ffd33d;
}

span {
  color: #59ffac;
  letter-spacing: 3px;
}

h2 {
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 1.5em;
}

h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 2px;
  color: #fcc617;
  margin: 0;
  padding: 3rem;
}

.skills {
  background-color: #fff;
}

.projects {
  background-image: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-bottom: 2px solid #ccc;
}

ion-icon {
  font-size: 13.2rem;
}

.iconify {
  font-size: 13.2rem;
}

.redux {
  color: #6a0dad;
}

.javascript {
  color: #f0db4f;
}

.react {
  color: #61dbfb;
}

.html {
  color: #e34c26;
}

.css {
  color: #264de4;
}

.sass {
  color: #cc6699;
}

.node {
  color: #68a063;
}

.github {
  color: #ffd33d;
}

.mongodb {
  color: #3fa037;
}

.vue {
  color: #42b883;
}
/* CARDS */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 600px;
  margin: 1rem;
  border: 1px solid black;
}

.card-header {
  border-bottom: 1px solid black;
}

.project-image {
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 1640px) {
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (max-width: 820px) {
  .card {
    width: 600px;
  }

  ion-icon {
    font-size: 9rem;
  }

  .iconify {
    font-size: 9rem;
  }
}

@media (max-width: 610px) {
  .card {
    width: 400px;
  }

  ion-icon {
    font-size: 6rem;
  }

  .iconify {
    font-size: 6rem;
  }
}

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.showcase h1 {
  font-family: "Crimson Text", serif;
  font-weight: 100;
  font-size: 70px;
  line-height: 1.2;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.content {
  z-index: 10;
  color: #fff;
  padding-bottom: 2rem;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-top: 25px;
  width: 200px;
  font-size: 1.3em;
  letter-spacing: 1px;
}

.work-btn {
  margin-left: 10px;
}

.btn:hover {
  cursor: pointer;
  transform: scale(0.99);
}

a {
  text-decoration: none;
}

.copyright {
  margin: 5rem auto;
  font-weight: 100;
  color: #59ffac;
}

.form-title {
  color: #b993d6;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.skill-grid {
  display: flex;
  justify-content: center;
  max-width: 90%;
  flex-wrap: wrap;
  margin: auto;
}

.skill-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
