* {
  box-sizing: border-box;
  font-family: Raleway;
}

body {
  font-family: "Work Sans", sans-serif;
  height: 100vh;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
}

.social-links {
  margin-top: 5%;
}

.small-icon {
  font-size: 4em;
  padding: 0.2em;
  color: #fff;
}

.github-sm:hover {
  color: #ffd33d;
}

.linkedin-sm:hover {
  color: #0e76a8;
}

.twitter-sm:hover {
  color: #1da1f2;
}

.medium-sm:hover {
  color: #66cdaa;
}

.dark {
  color: #000;
}

span {
  color: #59ffac;
  letter-spacing: 3px;
}

h2 {
  font-weight: 100;
  letter-spacing: 1px;
}

h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 2px;
  /* color: #2786df; */
  color: #000;
  /* margin: 60px; */
  margin: 0px;
  padding: 15px;
}

h4 {
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
}

.skills {
  background: linear-gradient(#59ffac, #61dbfb);
}

.projects {
  background: linear-gradient(#61dbfb, #59ffac);
}

.skills-grid {
  display: grid;
  max-width: 70%;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  border-radius: 25px;
  margin: auto;
}

.skill {
  text-align: center;
  margin: 1rem;
  border-radius: 5px;
}

ion-icon {
  font-size: 13.5rem;
}

.iconify {
  font-size: 12.8rem;
}

.redux {
  color: #6a0dad;
}

.javascript {
  color: #f0db4f;
}

.react {
  color: #61dbfb;
}

.html {
  color: #e34c26;
}

.css {
  color: #264de4;
}

.sass {
  color: #cc6699;
}

.node {
  color: #68a063;
}

.github {
  color: #ffd33d;
}

.mongodb {
  color: #3fa037;
}
/* CARDS */

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 800px;
  margin-top: 20px;
  border: 1px solid black;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  border-bottom: 1px solid black;
}

.shop {
  background-image: url(shop.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.stock {
  background-image: url(stock.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.news-app {
  background-image: url(newsapp.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  font-size: 1.6em;
  text-align: center;
}

.project-description,
.built-with {
  padding: 0 5%;
}

@media (max-width: 1640px) {
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (max-width: 820px) {
  .card {
    width: 600px;
  }
}

@media (max-width: 610px) {
  .card {
    width: 400px;
  }
}

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  background-image: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase h1 {
  font-family: "Crimson Text", serif;
  font-weight: 100;
  font-size: 70px;
  line-height: 1.2;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.content {
  z-index: 10;
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-top: 25px;
  /* opacity: 0.7; */
  width: 200px;
  font-size: 1.3em;
  letter-spacing: 1px;
}

.work-btn {
  margin-left: 10px;
}

.btn:hover {
  cursor: pointer;
  transform: scale(0.98);
}

a {
  text-decoration: none;
}

@media (max-width: 1760px) {
  .skills-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1420px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1060px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 740px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }

  .skill {
    width: 320px;
    height: 320px;
  }

  ion-icon {
    font-size: 16rem;
  }
}
